@import '../../assets/styles';

.app-item-data-table {
    width: 100%;
}

.mat-table {
    background-color: transparent;
}
.mat-row {
    height: 30px;
}

.mat-row .mat-cell {
    padding: 0 5px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    color: $color-primary;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}
