@import '../../assets/styles';

:host {
    display: block;
    width: 100%;
}

.app-log-item {
    &__title {

    }

    &__no-data {
        color: $color-primary;
    }
}

.app-log-item-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}
