@import '../../assets/styles';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 60px 40px 20px;
}

.app-log {

    &__search {
        margin-bottom: 12px;
    }

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        & + & {
            margin-top: 24px;
        }
    }
}
